# Objetive:

### 1. Setup

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Set the style
plt.style.use("ggplot")
sns.set_theme()

In [3]:
# Load dataset
file_path = "../Data/downloaded/premios_export.csv"
df = pd.read_csv(file_path)

### 2. Explore the data

In [4]:
# First lines of dataset
df.head()

,id,numero_sorteo,numero_premiado,letras,monto,vendedor,ciudad,departamento
0,87814,390,44,P,600.0,NaN,NaN,NaN
1,87815,390,80,DT,600.0,NaN,NaN,NaN
2,87816,390,129,TT,1000.0,NaN,NaN,NaN
3,87817,390,180,DT,600.0,NaN,NaN,NaN
4,87818,390,228,P,800.0,NaN,NaN,NaN

In [5]:
# General information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29271 entries, 0 to 29270
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               29271 non-null  int64
 1   numero_sorteo    29271 non-null  int64
 2   numero_premiado  29271 non-null  int64
 3   letras           29271 non-null  object
 4   monto            29271 non-null  float64
 5   vendedor         2734 non-null   object
 6   ciudad           2382 non-null   object
 7   departamento     2382 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 1.8+ MB

In [6]:
# Statistics of dataset
df.describe()

                  id  numero_sorteo  numero_premiado         monto
count   29271.000000   29271.000000     29271.000000  2.927100e+04
mean   102449.000000    2144.295275     41195.023641  2.840694e+03
std      8449.954201    1264.866625     24158.214136  5.025713e+04
min     87814.000000     390.000000         1.000000  5.000000e+02
25%     95131.500000     394.000000     20136.000000  6.000000e+02
50%    102449.000000    3052.000000     41210.000000  7.000000e+02
75%    109766.500000    3060.000000     61557.000000  1.000000e+03
max    117084.000000    3068.000000     99995.000000  5.000000e+06