In [7]:
import pandas as pd

In [3]:
df = pd.read_parquet("./sorteos.parquet")
print(df)

   numero_sorteo tipo_sorteo fecha_sorteo fecha_caducidad  primer_premio  \
0           3068   ORDINARIO   14/12/2024      13/06/2025          46325

   segundo_premio  tercer_premio reintegro_primer_premio  \
0            9059          13913                       5

  reintegro_segundo_premio reintegro_tercer_premio
0                        9                       3

In [4]:
print(df.head())
print(df.dtypes)

   numero_sorteo tipo_sorteo fecha_sorteo fecha_caducidad  primer_premio  \
0           3068   ORDINARIO   14/12/2024      13/06/2025          46325

   segundo_premio  tercer_premio reintegro_primer_premio  \
0            9059          13913                       5

  reintegro_segundo_premio reintegro_tercer_premio
0                        9                       3
numero_sorteo                int64
tipo_sorteo                 object
fecha_sorteo                object
fecha_caducidad             object
primer_premio                int64
segundo_premio               int64
tercer_premio                int64
reintegro_primer_premio     object
reintegro_segundo_premio    object
reintegro_tercer_premio     object
dtype: object

In [5]:
df_premios = pd.read_parquet("./premios.parquet")
print(df_premios)

     numero_sorteo numero_premiado letras   monto           vendedor  \
0             3068           00059     TT   600.0               None
1             3068           00095     PR   670.0               None
2             3068           00110      P   600.0               None
3             3068           00325     TT   700.0               None
4             3068           00775     PR   770.0               None
..             ...             ...    ...     ...                ...
871           3068           79059     TT   600.0               None
872           3068           79100      P   600.0               None
873           3068           79258      P  2500.0  PEDRO CHIC CHIPEL
874           3068           79325     TT   700.0               None
875           3068           79913     TT   500.0               None

              ciudad departamento
0               None         None
1               None         None
2               None         None
3               None         None
4               None         None
..               ...          ...
871             None         None
872             None         None
873  DE ESTA CAPITAL    GUATEMALA
874             None         None
875             None         None

[876 rows x 7 columns]

In [5]:
df_new = pd.read_parquet("./sorteo_3046_premios.parquet")

df_new

     numero_sorteo numero_premiado letras   monto vendedor ciudad departamento
0             3046           00046      P   700.0     None   None         None
1             3046           00063     TT   700.0     None   None         None
2             3046           00103     PR  1070.0     None   None         None
3             3046           00193     PR   670.0     None   None         None
4             3046           00361     TT   600.0     None   None         None
..             ...             ...    ...     ...      ...    ...          ...
870           3046           79292      P   700.0     None   None         None
871           3046           79361     TT   600.0     None   None         None
872           3046           79375      P   700.0     None   None         None
873           3046           79567     PR   670.0     None   None         None
874           3046           79987     TT   500.0     None   None         None

[875 rows x 7 columns]

In [6]:
df_sorteo_parquet = pd.read_parquet("./sorteo_3063.parquet")
df_sorteo_parquet

,numero_sorteo,numero_premiado,letras,monto,vendedor,ciudad,departamento
0,3063,00123,TT,700.0,None,None,None
1,3063,00278,P,700.0,None,None,None
2,3063,00280,TT,600.0,None,None,None
3,3063,00358,P,600.0,None,None,None
4,3063,00455,P,600.0,None,None,None
...,...,...,...,...,...,...,...
872,3063,79280,TT,600.0,None,None,None
873,3063,79418,P,2000.0,NO VENDIDO,None,None
874,3063,79457,P,700.0,None,None,None
875,3063,79492,TT,500.0,None,None,None
876,3063,79847,P,700.0,None,None,None

In [3]:
import pyarrow.parquet as pq

table = pq.read_table("./premios.parquet")
print("Schema:")
print(table.schema)          # columnas y tipos
print("\nFilas totales:", table.num_rows)

Schema:
numero_sorteo: int64
numero_premiado: string
letras: string
monto: double
vendedor: string
ciudad: string
departamento: string
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 903

Filas totales: 875

In [8]:
df_dry_test = pd.read_parquet("./premios.parquet")

df_dry_test.head()

   numero_sorteo numero_premiado letras  monto vendedor ciudad departamento
0           3090           00032     TT  500.0     None   None         None
1           3090           00295     TT  600.0     None   None         None
2           3090           00311      P  600.0     None   None         None
3           3090           00738      P  600.0     None   None         None
4           3090           00739     TT  700.0     None   None         None